{% extends "runscompare/header.html" %}
{% block content %}

<div class="container">
    <h2>Runs compare</h2>
    <table class="table table-striped table-condensed">
        <thead>
        <col>
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <tr>
            <th colspan="2" scope="colgroup"></th>
            <th colspan="2" scope="colgroup">Newer run</th>
            <th colspan="2" scope="colgroup">Older run</th>
        </tr>
        <tr>
            <th scope="col" width="20">TestID</th>
            <th scope="col">TestName</th>
            <th scope="col">Status</th>
            <th scope="col">Duration</th>
            <th scope="col">Status</th>
            <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>

        {% for k, v in rows.items %}
        <tr>
            <td>{{k}}</td>
            {% for run in v %}

            <td>{{run}}</td>

            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}