<!DOCTYPE html>
<html lang="en">

<head>
    <title>Runs compare</title>
    <meta charset="utf-8"/>
    {% load staticfiles %}
    <!--<link rel="stylesheet" href="{% static 'runscompare/css/bootstrap.min.css' %}" type="text/css"/>-->
    <link href="{% static 'runscompare/css/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'runscompare/jquery/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'runscompare/js/bootstrap.min.js' %}"></script>
</head>

<body class="body" style="background-color:#f6f6f6">

<a href="/">Home</a>
<a href="/comp/">Compare</a>
<a href="/filter/">Filtered table</a>


<div>
    {% block content %}
    {% endblock %}
</div>
</body>

</html>